/*select each element and apply*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines 1 rem
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 900?

    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
